.market h4 {
  text-align: center;
  margin-top: 2rem;
  font-size: $f-size-xl;
  font-weight: bold;
  text-transform: uppercase;
}
.buy {
  background-color: $c-gray-4;
  padding: 2rem;
  margin-right: 10px;
  h4 {
    color: $c-primary-dark;
  }
}
.sell {
  margin-left: 10px;
  padding: 2rem;
  background-color: $c-gray-4;
  h4 {
    color: $c-secondary-dark;
  }
}

.buy img,
.sell img {
  border-radius: 20px 0 20px 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
