.logo {
  width: 60px;
  margin-right: 30px;
}
.navItem {
  font-size: $f-size-sm;
  margin-right: 0.2rem;
}
svg {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.closeSearch_icon {
  color: red;
}
.search_input {
  width: 250px;
  outline: none;
  border: none;
}
