@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
:root {
  font-family: "Poppins", sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 8px;
  }
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.925rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.675rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 2.05rem;
}

h4 {
  font-size: 0.938rem;
  line-height: 1.8rem;
  color: #7d8083;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

.logo {
  text-decoration: none;
  color: #337aaa;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-right: 0.5rem;
}

.logo:hover {
  color: #e5e6e6;
}

.navItem {
  font-size: 0.938rem;
  margin-right: 0.2rem;
}

svg {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.closeSearch_icon {
  color: red;
}

.search_input {
  width: 250px;
}

.market h4 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #337aaa;
}

.buy img,
.sell img {
  border-radius: 20px 0 20px 0;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

ul {
  list-style: none;
}

.user {
  width: 99%;
}

.user__content__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #e5e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__content__sections__img {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .user__content__sections__img {
    width: 30%;
  }
}

.user__content__sections .active {
  color: #5cb2fd;
}

.user__content__sections .inactive {
  color: gray;
}

.user__content__sections ul {
  position: relative;
}

.user__content__sections li a {
  text-decoration: none;
  font-weight: bold;
}

.user__content__sections li {
  margin: 0.7rem 0;
}

@media screen and (max-width: 900px) {
  .user__content__sections li {
    margin: 0.7rem 1rem;
  }
}

.user__content__sections li a span {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 900px) {
  .user__content__sections li a span {
    right: 0;
    left: unset;
  }
}

.user__content__biography {
  border-left: 1px solid #e5e6e6;
}

@media screen and (max-width: 900px) {
  .user__content__biography {
    border-left: none;
    border-bottom: 1px solid #e5e6e6;
    padding-bottom: 2rem;
  }
}

.user__content__biography__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .user__content__biography__box__paragraph {
    width: 80%;
    margin: 0 auto;
  }
}

.user__content__biography__box__location p {
  color: #5cb2fd;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box__location {
    margin-right: 3rem;
  }
  .user__content__biography__box__location h3 {
    font-size: 1.15rem;
  }
}

.head__tr--primary {
  background-color: #1f455f;
}

.head__tr--secondary {
  background-color: #206956;
}

.shop__purchases__title {
  background-color: #1f455f;
  color: #fff;
  text-align: center;
}

.shop__sales__title {
  background-color: #206956;
  color: #fff;
  text-align: center;
}

.table__head {
  font-size: 1rem;
  color: #fff;
}

.table__body {
  font-weight: bold;
}

.table__body__img {
  width: 30%;
}

.table__body__tr:hover {
  background-color: #f0f0f0;
}

.whislist__content__box {
  border: 1px solid gainsboro;
  border-radius: 20px;
}

.whislist__content__box__info img {
  width: 70%;
  max-height: 10rem;
  margin: 0.5rem 0;
}

.whislist__content__box__info__user {
  color: #337aaa;
}

.whislist__content__box__price {
  font-weight: bold;
}

.activity__content__box {
  -webkit-box-shadow: grey 1px 2px 5px 1px;
          box-shadow: grey 1px 2px 5px 1px;
  padding: 1rem 2rem;
  width: 100%;
}

.activity__content__box__info__votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity__content__box__info__votes svg {
  font-size: 2.4rem;
  margin: 0;
}

.activity__content__box__info__votes .up {
  color: #337aaa;
}

.activity__content__box__info__votes .down {
  color: #e21b1b;
}

.activity__content__box__info__votes .gray {
  color: gray;
}

.activity__content__box__info__votes h4 {
  margin-bottom: 0;
  line-height: 0;
  color: #337aaa;
  font-weight: bold;
}

.activity__content__box__footer {
  color: grey;
  font-weight: 600;
}

.activity__content__box__footer h5 span {
  color: #337aaa;
}

.activity__content__box__footer svg {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */