@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
:root {
  font-family: "Poppins", sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
  font-weight: 500;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.925rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.675rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 2.05rem;
}

h4 {
  font-size: 0.938rem;
  line-height: 1.8rem;
  color: #7d8083;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  :root {
    font-size: 12px;
  }
}

.gap {
  margin-top: 6.8rem;
}

.main {
  min-height: calc(100vh - 5px);
}

a {
  text-decoration: none;
}

.home {
  -webkit-animation: content 1s normal;
          animation: content 1s normal;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home img {
  width: 40%;
  border: 1px solid #e5e6e6;
  border-radius: 20px;
}

@media screen and (max-width: 994px) {
  .home img {
    width: 90%;
  }
}

.home__header {
  margin-top: 3rem;
}

.home__header h1 {
  color: #337aaa;
  font-size: 3.2rem;
}

@media screen and (max-width: 550px) {
  .home__header h1 {
    font-size: 2rem;
  }
}

.home__header p {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 55%;
  font-size: 1.3rem;
  color: #206956;
}

@media screen and (max-width: 994px) {
  .home__header p {
    width: 90%;
  }
}

.home__content h2 {
  color: #000;
  margin-top: 5rem;
  font-size: 1.8rem;
}

.home__content h2 span {
  color: #337aaa;
}

@media screen and (max-width: 550px) {
  .home__content h2 {
    font-size: 1.5rem;
  }
}

.home__content h3 {
  color: #206956;
  margin-bottom: 1rem;
}

.home__content h3 span {
  color: #337aaa;
}

@-webkit-keyframes content {
  0% {
    -webkit-transform: translatex(900px);
            transform: translatex(900px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes content {
  0% {
    -webkit-transform: translatex(900px);
            transform: translatex(900px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

.about__header h2 {
  color: #000;
}

.about__content__about p {
  font-size: 1.3rem;
  color: #206956;
}

.about__content__team__box {
  border: 1px solid #e5e6e6;
  margin: 1rem;
  padding: 0;
  border-radius: 20px;
}

@media screen and (max-width: 994px) {
  .about__content__team__box {
    width: 55%;
  }
}

.about__content__team__box img {
  border-radius: 20px;
  width: 100%;
}

.about__content__team__box__info__icon {
  color: #0e76a8;
  font-size: 2rem;
}

.ourNav {
  height: 70px;
}

.logo {
  width: 60px;
  margin-right: 30px;
}

.navItem {
  font-size: 0.938rem;
  margin-right: 0.2rem;
}

svg {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.closeSearch_icon {
  color: red;
}

.search_input {
  width: 250px;
  outline: none;
  border: none;
}

.footer {
  height: 70px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 5%;
}

.footer h6 {
  color: #fff;
  font-size: 1rem;
}

.footer h6 span {
  color: #337aaa;
}

.form {
  width: 70%;
  position: relative;
  padding-right: 3rem;
  margin-top: 2rem;
  -webkit-box-shadow: grey 1px 2px 5px 1px;
          box-shadow: grey 1px 2px 5px 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 83%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1100px) {
  .form {
    width: 95%;
  }
}

.form__content {
  height: 100%;
}

.form__content__rouet ul li {
  margin: 3rem 0;
  font-weight: bold;
}

.form__content__rouet ul li a {
  text-decoration: none;
}

.form__content__rouet ul li .active {
  color: #337aaa;
}

.form__content__rouet ul li .inactive {
  color: gray;
}

.form__content__rouet ul li a:before {
  content: "";
  border-left: 3px solid;
  padding: 1rem 0rem;
  position: absolute;
  left: 0%;
}

.form__content__logo {
  position: absolute;
  left: 25%;
  width: 20%;
  height: 100%;
  background-color: #337aaa;
}

@media screen and (max-width: 550px) {
  .form__content__logo {
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    width: 100%;
    margin: 0;
  }
}

.form__content__logo__content {
  position: relative;
  top: 45%;
}

@media screen and (max-width: 550px) {
  .form__content__logo__content {
    top: 0;
  }
}

.form__content__logo__content h2 {
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .form__content__logo__content h2 {
    font-size: 1.2rem;
  }
}

.form__content__fields {
  padding: 1rem 0;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.form__content__fields button {
  width: 100%;
  height: 2.3rem;
  background-color: #337aaa;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.login {
  padding: 7rem 0;
}

.filtersTypes {
  color: #fff;
}

.star {
  font-size: 2rem;
}

@media screen and (max-width: 994px) {
  .star {
    margin-top: 2rem;
  }
}

.gallery {
  border: 1px solid #ddd9d9;
  border-radius: 50px;
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (max-width: 994px) {
  .gallery {
    width: 100%;
  }
}

.modal-img {
  width: 50%;
}

.pagination {
  border: 1px solid gainsboro;
  padding: 0.5rem;
}

.product__img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.market h4 {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.buy {
  background-color: #e5e6e6;
  padding: 2rem;
  margin-right: 1rem;
}

@media screen and (max-width: 994px) {
  .buy {
    margin-right: 0rem;
  }
}

.buy h4 {
  color: #1f455f;
}

.sell {
  padding: 2rem;
  height: 100%;
  background-color: #e5e6e6;
}

.sell h4 {
  color: #206956;
}

.buy img,
.sell img {
  border-radius: 20px 0 20px 0;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sell-form label {
  color: #337aaa;
  font-weight: 500;
}

.header__sell-form {
  text-align: center;
  text-transform: capitalize;
  margin: 50px auto 0;
  color: #1f455f;
  width: 70%;
}

.header__sell-form::after {
  content: "";
  display: block;
  width: 50%;
  margin: 10px auto;
  height: 3px;
  background: #dc3545;
}

.close-icon {
  font-size: 22px;
  cursor: pointer;
  color: red;
}

.add-image__sell-form {
  background-color: #32a989;
  border: 0;
  color: white;
  padding: 8px 20px;
  font-weight: 500;
}

.submit__sell-form {
  background: #337aaa;
  border: 0;
  padding: 5px 60px;
  font-weight: 500;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
  color: white;
}

.product {
  padding-top: 5rem;
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

@media screen and (max-width: 994px) {
  .product {
    width: 100%;
  }
}

.about_product {
  margin: auto;
  padding: 50px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 994px) {
  .about_product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.productImg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 994px) {
  .productImg {
    margin-right: 0px;
  }
}

.productImg img {
  height: 100%;
  width: 100%;
}

.details {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0;
}

h6 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1rem;
  color: #787878;
  font-weight: 500;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #337aaa;
  text-transform: capitalize;
}

@media screen and (max-width: 594px) {
  h2 {
    font-size: 1rem;
  }
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #10960b;
  margin: 10px 0;
}

@media screen and (max-width: 394px) {
  .price {
    font-size: 1rem;
  }
}

.price span {
  color: #787878;
  text-decoration: line-through;
  margin-right: 8px;
  opacity: 0.8;
}

p {
  line-height: 1.6;
  color: black;
  font-size: 16px;
  margin-bottom: 24px;
}

.details small {
  display: block;
  margin: 5px;
  letter-spacing: 1px;
}

.category {
  background: #337aaa;
  padding: 20px 0;
  color: white;
  margin-bottom: 50px;
}

.category h3 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.7rem;
  margin: 20px 0;
}

.category ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.category ul li {
  display: inline-block;
  margin: 0 2rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 994px) {
  .category ul li {
    margin: 0 1.2rem;
  }
}

@media screen and (max-width: 300px) {
  .category ul li {
    margin: 0 0.5rem;
  }
}

.category ul li:hover {
  color: #5cb2fd;
}

.active_filter {
  color: #5cb2fd;
}

.whatsApp_icon {
  color: green;
  font-size: 50px;
  animation: shake 7s linear infinite alternate-reverse;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.sold {
  position: relative;
}

.sold::after {
  content: "SOLD";
  color: white;
  border: 3px solid white;
  font-weight: 500;
  background-color: red;
  border-radius: 50%;
  padding: 15px 10px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.selection:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #337aaa;
}

.activeimg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #337aaa;
}

ul {
  list-style: none;
}

.fa-edit {
  position: absolute;
  left: 0px;
  top: -25px;
}

@media screen and (max-width: 900px) {
  .fa-edit {
    left: -5px;
    top: -35px;
  }
}

.add-img {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 900px) {
  .add-img {
    right: 30%;
  }
}

.user {
  width: 99%;
}

.user__content__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #e5e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.user__content__sections__img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

@media screen and (max-width: 990px) {
  .user__content__sections__img {
    width: 30%;
  }
}

.user__content__sections .active {
  color: #5cb2fd;
}

.user__content__sections .inactive {
  color: gray;
}

.user__content__sections ul {
  position: relative;
}

.user__content__sections li a {
  text-decoration: none;
  font-weight: bold;
}

.user__content__sections li {
  margin: 0.7rem 0;
}

.user__content__sections li a span {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 900px) {
  .user__content__sections li a span {
    right: 0;
    left: unset;
  }
}

.user__content__biography {
  border-left: 1px solid #e5e6e6;
}

.user__content__biography h3 {
  color: #337aaa;
}

@media screen and (max-width: 900px) {
  .user__content__biography {
    border-left: none;
    border-bottom: 1px solid #e5e6e6;
    padding-bottom: 2rem;
  }
}

.user__content__biography__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.user__content__biography__box__paragraph__text {
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box__paragraph__text {
    width: 90%;
    margin: 0 auto;
  }
}

.user__content__biography__box__location h3 {
  color: #337aaa;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box__location {
    margin-top: 3rem;
  }
}

.user__content__biography__box__location__text {
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .user__content__biography__box__location {
    margin-right: 3rem;
  }
  .user__content__biography__box__location h3 {
    font-size: 1.15rem;
  }
}

.head__tr--primary {
  background-color: #1f455f;
}

.head__tr--secondary {
  background-color: #206956;
}

.shop header h2 {
  color: black;
}

.shop__purchases__title {
  background-color: #1f455f;
  color: #fff;
  text-align: center;
}

.shop__sales__title {
  background-color: #206956;
  color: #fff;
  text-align: center;
}

.table__head {
  font-size: 1rem;
  color: #fff;
}

.table__body {
  font-weight: bold;
}

.table__body__img {
  width: 30%;
}

@media screen and (max-width: 600px) {
  .table__body__img {
    width: 80%;
  }
}

.table__body__tr:hover {
  background-color: #f0f0f0;
}

.whislist header h2 {
  color: black;
}

.whislist__content__box {
  border: 1px solid gainsboro;
  border-radius: 20px;
}

.whislist__content__box__info img {
  width: 70%;
  max-height: 10rem;
  margin: 0.5rem 0;
}

.whislist__content__box__info__user {
  color: #337aaa;
}

.whislist__content__box__price {
  font-weight: bold;
}

.activity header h2 {
  color: black;
}

.activity__content__box {
  padding: 1rem 2rem;
  width: 100%;
}

.activity__content__box__info__votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity__content__box__footer {
  color: grey;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .activity__content__box__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.activity__content__box__footer h5 span {
  color: #337aaa;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .activity__content__box__footer h5 span {
    font-size: 1rem;
  }
}

.activity__content__box__footer svg {
  font-size: 1rem;
}

.blog {
  width: 99%;
}

.blog h2 {
  font-size: 1.4rem;
}

.blog p {
  font-size: 1rem;
}

.blog .icon {
  font-size: 1.3rem;
}

.post__card {
  width: 70%;
}

@media screen and (max-width: 550px) {
  .post__card {
    width: 90%;
  }
}

.side {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #337aaa;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -2;
  width: 15%;
  text-align: center;
}

@media screen and (max-width: 994px) {
  .side {
    display: none;
    overflow: hidden;
  }
}

.side h2 {
  position: relative;
  top: 49%;
  font-size: 1.1rem;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .side h2 {
    font-size: 0.8rem;
  }
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card_dimension {
  width: 45%;
}

.input__box {
  text-align: center;
}

.search_width {
  width: 60%;
  height: 2.3rem;
}

.blog_button {
  border: none;
  background-color: #337aaa;
  color: white;
  width: 5rem;
  height: 2.4rem;
}

.topic {
  border-radius: 10px;
  width: 10rem;
  height: 2rem;
}

.text_height {
  height: 8rem;
}

.post_btn {
  background-color: #337aaa;
  color: white;
  width: 5rem;
  border: none;
}

.titleColor {
  color: #337aaa;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.edit-pos {
  right: -4rem;
  bottom: -17rem;
}

.posts-height {
  height: 100vh;
}

.postDetails__title {
  font-size: 2.7rem;
}
/*# sourceMappingURL=style.css.map */