$c-primary: #337aaa;
$c-primary-light: #5cb2fd;
$c-primary-dark: #1f455f;

$c-secondary: #32a989;
$c-secondary-light: #58a591;
$c-secondary-dark: #206956;
$light-bg: #f9f9ff;
$dark-bg: #222222;
$gradient: linear-gradient(to right, #1f455f, rgba(#1f455f, 0.5));

$c-gray-1: #f9f9ff;
$c-gray-2: #f5f5f5;
$c-gray-3: #f0f0f0;
$c-gray-4: #e5e6e6;

$c-text: #202223;
$c-text-disabled: #a0a3a7;
$c-text-subdued: #7d8083;

// $red: #cd5959;
$c-danger: #dc3545;
$c-warning: #ffc107;
$c-success: #28a745;

$c-border: #8c9196;
$c-border-light: #babfc3;
$c-border-dark: #999ea4;
